.cache
.buildozer
__pycache__
config.db
*.so
*.pyd
*.pyc
*.pyo
*.py#
*~
*.swp
*.DS_Store
*.kpf
venv
.venv
.project
.pydevproject
.setting*.so
*.pyd
*.pyc
*.pyo
*.py#
*~
*.swp
*.DS_Store
*.kpf
.project
.pydevproject
.settings
*.sh